nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #003049;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20px;
    right: 0;
    left: 0;
    height: 50px;

    button:hover{
        color: #FCBF49;
    } 

    button {
        font-size: 1.5em;
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;
    }
}