.search {
    background-color: #EAE2B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    margin: 0;
    padding: 0;
}

.search__form {
    display: flex;
}

.search__input {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 38px;
    font-size: 1.3em;
}

.search__icon {
    width: 70px;
    padding: 0;
    cursor: pointer;
    background: #003049;
    color: white;
    img {
        margin-top: 5px;
        width: 30px;
        height: 30px;
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}